{% extends "base.html" %}
{% load static %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        <img src="\{{ project.image }}" alt="" width="100%">
    </div>
    <div class="col-md-4">
      <div class="row" style="padding-bottom:10px">
        <div class="col-md-4">
        <a href="{{ project.github }}"
           class="btn btn-primary">
            Source Code
        </a>
        </div>
        <div class="col-md-8">
        <a href="{{ project.app }}"
           class="btn btn-primary">
            App
        </a>
        </div>
      </div>
        <h5>About the project:</h5>
        <p>{{ project.description|linebreaks }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
    </div>
</div>
{% endblock %}
